@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
}

body *{
  margin: 3px 0;
}

h1, h2, h3{
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.section{
  margin: 20px 0;
}

i{
  font-size: 2.5rem;
  margin-right: 4px;
}

hr{
  border-style: dashed;
}

.thumbs input:checked + label .iconoir-thumbs-up{
  color: #a1e6b8;
}

.thumbs input:checked + label .iconoir-thumbs-down{
  color: red;
}

.praise span{
  background-color: #ececec;
  padding: 7px 15px;
  border-radius: 15px;
}

.praise input:checked + span {
  background-color: #a1e6b8;
  color: #000;
}

button{
  background-color: #a1e6b8;
}

button:hover{
  background-color: #90cca4;
}
